{% set base='/' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal, Material Design HTML Template</title>
    <base href="{{ base }}toolbar/">
    <!-- load Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Barlow:100,300,400,400i,500,700,900" rel="stylesheet">
    <!-- Portal Styles -->
    <link id="portal-stylesheet" rel="stylesheet" href="{{ base }}assets/css/classic-light_blue-pink.css">
    <!-- page specific CSS -->
    {% block styles %}{% endblock %}
  </head>

  <body class="mdc-typography pace-on">

    {% include "partials/loader.html" %}

    <div class="portal-wrapper">

      <div class="portal-wrapper__sidenav mdc-theme--dark">
        <aside id="left-drawer" class="mdc-drawer mdc-drawer--temporary mdc-drawer--closed mdc-drawer--portal-flex-content">
          <nav class="mdc-drawer__drawer">
            {% include "partials/sidemenu.html.twig" %}
          </nav>
        </aside>
      </div>

      <main class="portal-main">

        {% include "partials/top-toolbar.html.twig" %}
        {% include "partials/top-header.html.twig" %}

        <div class="portal-main__content mdc-theme--background mdc-theme--text-primary-on-background">
          {% block content %}{% endblock %}
        </div>

        {% include "partials/footer.html.twig" %}

      </main>

      {% include "partials/notification-sidenav.html.twig" %}

    </div>

    <!-- initialise material components js -->
    <script src="{{ base }}assets/js/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
    <!-- initialise marquee js -->
    <script src="{{ base }}assets/js/marquee3k.js"></script>
    <script>Marquee3k.init()</script>
    <!-- layout js -->
    <script src="{{ base }}assets/js/layout/toolbar.js"></script>
    <!-- components js -->
    <script src="{{ base }}assets/js/partials/notification-sidenav.js"></script>
    <script src="{{ base }}assets/js/partials/top-toolbar.js"></script>
    <script src="{{ base }}assets/js/Chart.js"></script>
    <script src="{{ base }}assets/js/pace.js"></script>
    <!-- page specific JS -->
    {% block scripts %}{% endblock %}

  </body>
</html>
