
{% block title %}Bienvenue sur Evencoin - Inscription {% endblock %}

{% extends "layouts/no-layout.html.twig" %}

{% block content %}
    <div class="mdc-layout-grid mdc-layout-grid--fullheight">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>
            <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-card portal-card portal-card--hero portal-card--horizontal  mdc-elevation--z24">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-6">
                                <div class="mdc-theme--primary-bg mdc-theme--text-primary-on-secondary portal-card__content portal-card__content--column">
                                    <section class="portal-text-center">
                                        <div class="portal-card__title portal-card__title--vertical">
                                            <img class="portal-card__logo" src="{{ asset('assets/images/portal-logo.png') }}" alt="logo">
                                            <h1 class="portal-card--headline">Register</h1>
                                        </div>
                                        <p class="mdc-typography--body1">It takes a couple of minutes to sign up for a free account. Just fill in your details to gain access the admin panel and view the dashboard. By creating an account, you agree to our Terms & Conditions and Privacy Policy.</p>
                                    </section>
                                    <div class="portal-card__content--column-actions">
                                        <a href="{{ path('login') }}" class="mdc-button mdc-button--raised mdc-theme--secondary-bg mdc-theme--text-primary-on-secondary" data-mdc-auto-init="MDCRipple">
                                            I already have an account.
                                        </a href>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell--span-6">
                                <div class="portal-card__content portal-card__content--column">
                                    {{ form_start(form) }}

                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell--span-12">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.username)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.username)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                    {% if form.username.vars.errors|length > 0 %}
                                                        <p style="color: red" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                                            {% for error in  form.username.vars.errors %}
                                                                {{ error.message }} <br>
                                                            {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        {{form_help(form.username)}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell--span-6">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.firstName)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.firstName)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-6">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.lastName)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.lastName)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell--span-12">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.email)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.email)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                    {% if form.email.vars.errors|length > 0 %}
                                                        <p style="color: red" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                                           {% for error in  form.email.vars.errors %}
                                                                {{ error.message }} <br>
                                                            {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        {{form_help(form.email)}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid">
                                            <div class="mdc-layout-grid__inner">
                                                <div class="mdc-layout-grid__cell--span-6">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.password)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.password)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                    {% if form.password.vars.errors|length > 0 %}
                                                        <p style="color: red" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                                            {% for error in  form.password.vars.errors %}
                                                                {{ error.message }} <br>
                                                            {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        {{form_help(form.password)}}
                                                    {% endif %}
                                                </div>
                                                <div class="mdc-layout-grid__cell--span-6">
                                                    <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                        {{form_widget(form.confirmPassword)}}
                                                        <label class="mdc-floating-label"> {{ form_label(form.confirmPassword)}}</label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>
                                                    {% if form.confirmPassword.vars.errors|length > 0 %}
                                                        <p style="color: red" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                                            {% for error in  form.confirmPassword.vars.errors %}
                                                                {{ error.message }} <br>
                                                            {% endfor %}
                                                        </p>
                                                    {% else %}
                                                        {{form_help(form.confirmPassword)}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    <div class="mdc-layout-grid">
                                        <div class="mdc-layout-grid__inner">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <div id="js-select" class="mdc-select country-select" role="listbox">
                                                    <div class="mdc-select__surface" >
                                                        <div class="mdc-select__label">Pays</div>
                                                        <div class="mdc-select__selected-text"></div>
                                                        <div class="mdc-select__bottom-line"></div>
                                                    </div>
                                                    <div class="mdc-menu mdc-select__menu">
                                                        <ul class="mdc-list mdc-menu__items">
                                                            {% for country in countries %}
                                                                {% if loop.index == 1 %}
                                                                    <li class="mdc-list-item mdc-list-item--selected"  aria-selected="true" role="option" id="{{ country}}" >
                                                                        {{country}}
                                                                    </li>
                                                                {% else %}
                                                                    <li class="mdc-list-item" role="option" id="{{ country}}" >
                                                                        {{country}}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <div class="mdc-text-field mdc-text-field--dense mdc-text-field--fullwidth portal-text-field--fullwidth">
                                                    {{form_widget(form.phoneNumber)}}
                                                    <label class="mdc-floating-label"> {{ form_label(form.phoneNumber)}}</label>
                                                    <div class="mdc-line-ripple"></div>
                                                </div>
                                                {% if form.phoneNumber.vars.errors|length > 0 %}
                                                    <p style="color: red" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                                        {% for error in  form.phoneNumber.vars.errors %}
                                                            {{ error.message }} <br>
                                                        {% endfor %}
                                                    </p>
                                                {% else %}
                                                    {{form_help(form.phoneNumber)}}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_row(form.country,{'id' : 'country','value':'Cameroun'}) }}
                                    <div class="portal-card__content--column-actions">
                                        <button type="submit" class="mdc-button mdc-button--raised mdc-button--portal-login">S'inscrire</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        (function() {
            const tfRoot = document.querySelectorAll('.mdc-text-field');
            for (let i = 0; i < tfRoot.length; i++) {
                new mdc.textField.MDCTextField(tfRoot[i]);
            }
        })();
    </script>

    <script>
        (function() {
            const MDCSelect = mdc.select.MDCSelect;
            // const selects = document.querySelectorAll('.mdc-select');
            // for (let i = 0; i < selects.length; i++) {
            //     new MDCSelect(selects[i]);
            // }

            const select = new MDCSelect(document.querySelector('.country-select'));
            select.listen('MDCSelect:change',()=>{
                console.log(select.value);
                document.getElementById('country').setAttribute('value',select.value);
            });
        })();
    </script>

{% endblock %}
